body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* 頂部導航欄樣式 */
.TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    height: 30px;
    width: 100%;
    z-index: 1;
}

/* 導航欄內部連結樣式 */
.TopBar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.TopBar-links li {
    margin: 0 15px;
}

.TopBar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.TopBar-links a:hover {
    color: #f39c12; /* 滑鼠懸停效果 */
}

/* 主題區樣式 */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./picture/background01.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 1000px;
    color: white;
    text-align: center;
}

.title h1 {
    height: 650px;
    font-size: 80px; /*字體大小*/
    font-weight: bold; /*加粗*/
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /*字體陰影效果*/
}

/*側邊目錄*/
.side-menu {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: fixed;
    top: 25%;
    right: -240px; 
    width: 250px;
    height: 215px;
    background-color: #333333ad;
    transition: right 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    padding: 15px;
    text-align: center;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.side-menu a:hover {
    color: #f39c12;
}

/*四大流程*/
.mainphase-container {
    text-align: center;
    padding: 50px;
}

.subtitle {
    font-size: 36px;
    color: #333;
    margin-bottom: 40px;
}

.mainphase-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

.mainphase {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.mainphase:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.mainphase img {
    width: 100%;
    height: 150px;
    object-fit: auto;
    border-radius: 8px;
    margin-bottom: 5px;
}

.mainphase h2 {
    margin: 10px 0;
    font-size: 24px;
    color: #333;
}

.mainphase p {
    text-align: left;
    font-size: 16px;
    color: #666;
}

/*假設工程*/
.phase1-section {
    display: flex; /* 讓子元素左右並排 */
    background-color: #f9f9f9; /* 區塊背景顏色 */
    margin: 0; /* 外邊距設為 0 */
    padding: 0; /* 移除內邊距 */
    width: 100%; /* 確保區塊佔滿整個父容器 */
    height: 400px; /* 設定高度，可根據需求調整 */
}
    
.phase1-image {
    flex: 1;
    order: 2;
}

.phase1-text {
    flex: 1;
    padding: 0px;
    background-color: #262626;
    justify-content: center;
    align-items: center; /*文字水平居中*/
    text-align: center; /* 文字置中對齊 */
    margin: 0; /* 確保無間距 */
    order: 1;
}
    
.phase1-text h2 {
        padding: 40px;
        color: #ffffff;
        margin-bottom: 0px;    
}
.phase1-text p {
        padding: 15px;
        color: #e1e1e1;
        line-height: 1.6;
}
/*基礎工程*/
.phase2-section {
    display: flex; /* 讓子元素左右並排 */
    background-color: #f9f9f9; /* 區塊背景顏色 */
    margin: 0; /* 外邊距設為 0 */
    padding: 0; /* 移除內邊距 */
    width: 100%; /* 確保區塊佔滿整個父容器 */
    height: 400px; /* 設定高度，可根據需求調整 */
}
        
.phase2-image {
    flex: 1;
    order: 1;
}

.phase2-text {
    flex: 1;
    padding: 0px;
    background-color: #303030;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    order: 2;
}
    
.phase2-text h2 {
    padding: 40px;
    color: #ffffff;
    margin-bottom: 0px;    
}
.phase2-text p {
    padding: 15px;
    color: #e1e1e1;
    line-height: 1.6;
}

/*結構工程*/
.phase3-section {
    display: flex; /* 讓子元素左右並排 */
    background-color: #f9f9f9; /* 區塊背景顏色 */
    margin: 0; /* 外邊距設為 0 */
    padding: 0; /* 移除內邊距 */
    width: 100%; /* 確保區塊佔滿整個父容器 */
    height: 400px; /* 設定高度，可根據需求調整 */
}
    
.phase3-image {
    flex: 1;
    order: 2;
}

.phase3-text {
    flex: 1;
    padding: 0px;
    background-color: #3c3c3c;
    justify-content: center;
    align-items: center; /*文字水平居中*/
    text-align: center; /* 文字置中對齊 */
    margin: 0; /* 確保無間距 */
    order: 1;
}
    
.phase3-text h2 {
        padding: 40px;
        color: #ffffff;
        margin-bottom: 0px;    
}
.phase3-text p {
        padding: 15px;
        color: #e1e1e1;
        line-height: 1.6;
}

/*裝修工程*/
.phase4-section {
    display: flex;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
}
        
.phase4-image {
    flex: 1;
    order: 1;
}

.phase4-text {
    flex: 1;
    padding: 0px;
    background-color: #5a5a5a;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    order: 2;
}
    
.phase4-text h2 {
    padding: 40px;
    color: #ffffff;
    margin-bottom: 0px;    
}
.phase4-text p {
    padding: 15px;
    color: #e1e1e1;
    line-height: 1.6;
}

/*輪播圖片*/    
.slider1 {
    overflow: hidden;
}
.slides1 {
    display: flex;
    transition: transform 0.7s ease-in-out;
}
.slides1 img {
    width: 100%;
    height: 400px;
    size: cover;
    position: center;
    flex-shrink: 0;
}

.slider2 {
    overflow: hidden;
}
.slides2 {
    display: flex;
    transition: transform 0.7s ease-in-out;
}
.slides2 img {
    width: 100%;
    height: 400px;
    size: cover;
    position: center;
    flex-shrink: 0;
}

.slider3 {
    overflow: hidden;
}
.slides3 {
    display: flex;
    transition: transform 0.7s ease-in-out;
}
.slides3 img {
    width: 100%;
    height: 400px;
    size: cover;
    position: center;
    flex-shrink: 0;
}

.slider4 {
    overflow: hidden;
}
.slides4 {
    display: flex;
    transition: transform 0.7s ease-in-out;
}
.slides4 img {
    width: 100%;
    height: 400px;
    size: cover;
    position: center;
    flex-shrink: 0;
}

/*頁尾資訊欄*/
footer {
    background-color: rgb(255, 255, 255); 
    color: black;
    font-family: Arial, sans-serif;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    max-width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
  }

  .footer-section h3 {
    margin: 0 0;
    margin-bottom: 10px;
    font-size: 24px;
    border-bottom: 1px solid #717171;
    padding-bottom: 5px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin: 5px 0;
  }
  
  .footer-section a {
    text-decoration: none;
    color: #454545;
    transition: color 0.3s ease;
  }
  
  .footer-section a:hover {
    color: #f39c12;;
  }