@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/space.css" />
<div class="space">
    <div class="earth-div">
        <div class="earth">
            <img src="~/image/earth.png" />
        </div>
    </div>
    <div class="moon-div">
        <div class="moon">
            <img src="~/image/moon.png" />
        </div>
    </div>
    <div id="meteor" class="meteor">
        <i class="fa-regular fa-star"></i>
    </div>
</div>
<canvas id="stars"></canvas>
<script src="https://kit.fontawesome.com/5c702549fb.js" crossorigin="anonymous"></script>
<script src="~/js/space.js"></script>
